<div class="row">
  <div class=" col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau livre </h2>
    <form [formGroup]="bookform" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="titre" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author"> Auteur</label>
        <input type="text" id="author" class="form-control" formControlName="author">
      </div>
      <div>
        <label for="synopsis">Synopsis</label>
        <textarea type="text" id="synopsis" class="form-control" formControlName="synopsis"></textarea>
      </div>
      <button class="btn btn-success" [disabled]="bookform.invalid" type="submit">Enregistrer</button>
    </form>
  </div>
</div>
